<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <clear/>
    <add key="RunAsDomain" value="DEVVIRTUAL-PC"/>
    <add key="RunAsUser" value="exampleUser"/>
    <add key="RunAsPassword" value="exampleUser"/>

    <add key="CanPauseAndContinue" value="true"/>

    <add key="TargetExecutable" value="DummyApp.exe"/>
    <add key="StartCommand" value="start args -p {0}"/>
    <add key="StopCommand" value=""/>
    <add key="PauseCommand" value="pause args"/>
    <add key="ContinueCommand" value="continue args"/>

    <add key="StdOutLog" value="C:\Temp\winserwrap_tests_out.txt"/>
    <add key="StdErrLog" value="C:\Temp\winserwrap_tests_err.txt"/>

    <add key="Name" value="My App's Service Name"/>
    <add key="Description" value="This is a description of my service"/>
  </appSettings>
</configuration>