<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <clear/>

    <!-- Executable to be wrapped, and the arguments to pass in each service state -->
    <!-- if the start arguments contain '{0}', this will be replaced with the ID of a process that will be started and stopped as the control mechanism -->
    <add key="TargetExecutable" value="myapp.exe"/>
    <add key="StartCommand" value=""/>
    <add key="StopCommand" value=""/>
    <add key="PauseCommand" value=""/>
    <add key="ContinueCommand" value=""/>

    <!-- If you supply paths, the target's standard out/error will be appended to files at those paths-->
    <add key="StdOutLog" value=""/>
    <add key="StdErrLog" value=""/>

    <!-- Name and description for Service control. You really should add something useful here. -->
    <add key="Name" value="My App's Service Name"/>
    <add key="Description" value="This is a description of my service"/>
  </appSettings>
</configuration>