<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <clear/>
    <add key="TargetExecutable" value="myapp.exe"/>
    <add key="StartCommand" value=""/>
    <add key="StopCommand" value=""/>
    <add key="PauseCommand" value=""/>
    <add key="ContinueCommand" value=""/>

    <add key="StdOutLog" value=""/>
    <add key="StdErrLog" value=""/>

    <add key="Name" value="My App's Service Name"/>
    <add key="Description" value="This is a description of my service"/>
  </appSettings>
</configuration>