<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <clear/>
    <add key="CanPauseAndContinue" value="true"/>

    <add key="TargetExecutable" value="DummyApp.exe"/>
    <add key="StartCommand" value="start args"/>
    <add key="StopCommand" value="stop args"/>
    <add key="PauseCommand" value="pause args"/>
    <add key="ContinueCommand" value="continue args"/>

    <add key="Name" value="My App's Service Name"/>
    <add key="Description" value="This is a description of my service"/>
  </appSettings>
</configuration>